<footer>
  <br/>
  <div class="footer-navigation">
  <p><%= link_to "Home", root_path %></p>
  <p><%= link_to "Users", users_path %></p>
  <p><%= link_to "Payments", payments_path %></p>
  </div>     


  <div align="center" class="socialbtns">
    <ul>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="fa fa-lg fa-facebook"></a></li>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="fa fa-lg fa-twitter"></a></li>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="fa fa-lg fa-google-plus"></a></li>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="fa fa-lg fa-github"></a></li>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="fa fa-lg fa-pinterest"></a></li>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="fa fa-lg fa-linkedin"></a></li>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="fa fa-lg fa-instagram"></a></li>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="fa fa-lg fa-youtube"></a></li>
    </ul>
  </div>
</footer>