<br>
<div class="row">
  <div class="small-6 large-centered columns centering">
    <div class="centering">
    <h2>Welcome to <i>Cost Trakkr</i>!</h2><br>
    <h3>What would you like to track?</h3>
  
    <br><a href="http://localhost:3001/users" class="button radius">USERS</a> 
    OR
    <a href="http://localhost:3001/events" class="button radius">EVENTS</a>
    </div>
  
  </div>
</div>