<div class="row">
  <div class="small-6 large-centered columns">
    <div class="centering">
    <h2>Welcome to Cost Trakkr!</h2><br>
    <h3>What would you like to track?</h3>
  
    <br><a href="http://localhost:3000/users" class="button radius">USERS</a>
    <a href="http://localhost:3000/events" class="button radius">EVENTS</a>
    </div>
  
  </div>
</div>